table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #999 !important;
  padding: 8px;
  vertical-align: top;
}

table ul {
  margin: 0;
  padding-left: 18px;
}

table li {
  margin: 0;
}